<h1>Página Landig</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @datos.each do |estudiantes| %>
      <tr>
        <td><%= estudiantes.name %></td>
        <td><%= estudiantes.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
